#!/usr/bin/make -f
# See debhelper(7) (uncomment to enable)
# output every command that modifies files on the build system.
#export DH_VERBOSE = 1

TG_BRANCHES := debian/fix-exampleconf

-include /usr/share/topgit/tg2quilt.mk

# to export the patch series use
#	debian/rules tg-clean
#	debian/rules tg-export

%:
	dh $@


# dh_make generated override targets
# This is example for Cmake (See https://bugs.debian.org/641051 )
#override_dh_auto_configure:
#	dh_auto_configure -- #	-DCMAKE_LIBRARY_PATH=$(DEB_HOST_MULTIARCH)

override_dh_auto_install:
	dh_auto_install

	install servod/run-servod debian/servod-tools/usr/bin
	cp udev/99-servo.rules debian/servod-tools/lib/udev/rules.d
	cp systemd/google-servo@.service debian/servod-tools/etc/systemd/system
	cp conf/google-servo.conf debian/servod-tools/etc

	dh_python2